* {
    box-sizing:border-box;
}

@font-face {
    font-family: 'IJT'; /*a name to be used later*/
    src: url('assets/Imanifont_Regular.woff'); /*URL to font*/
}

@font-face {
    font-family: 'Cafe';
    src: url('assets/LouisGeorgeCafe.woff')
}

html {
  scroll-behavior: smooth;
}

body {
    /* background:#e4ccee; */
    background:#f2e5f8;
    margin:0;
}

img {
    max-width:100%;
}

.container {
    background:#f2e5f8;
    /* vh means viewport height! */
    height:fit-content;
    /* no need for width, it's a block element so it's already 100% */
    display:flex;
    flex-direction:column;
    padding:0;
    gap:0;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #1f153c;
  padding: 0px 40px;
  position:sticky;
  top: 0;
  font-family: 'IJT';
  display:flex;
  align-items:center;
  justify-content: space-between;
}

/* Style the header links */
.header a {
  float: left;
  color: #fba3e7;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  line-height: 25px;
  border-radius: 100px;
  padding:12px;
  margin: 0px 8px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a.logo:hover {
  font-size: 25px;
  font-weight: bold;
  background-color: #1f153c;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #fba3e7;
  color: #1f153c;
  transition:0.5s;
}

/* Style the active/current link*/
.header a.active {
  background-color: #b454df;
  color: white;
}

.header a.active:hover {
  background-color: #7754df;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
  scroll-behavior: smooth;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.landing {
    background:#ebd4f7;
    background-image:url(assets/landing_image.png);
    height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:0;
}

.hello {
    /* background:#e556c4; */
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family: 'IJT';
    font-size:400%;
}

.scroll {
    /* background:#7754df; */
    height:10vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family: 'Cafe';
    font-size:110%;
}

/* Style the header with a grey background and some padding */
.workHeader {
  overflow: hidden;
  background-color: #1f153c;
  padding: 30px 10px;
  display:flex;
  align-items: center;
  justify-content: space-evenly;  
}

.row {
  display: flex;
  flex-wrap:wrap;
  padding: 3vw;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin: 0px 0px 0px 0px;
}

/* Create three equal columns that sits next to each other */
.column {
  max-width:25%;
  padding: 0.3vw;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.column img {
  margin-top: 8px;
  padding:1vh;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of three columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.filterDiv {
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.working:hover {
  transition:0.5s;
  scale:1.1;
}



.visible {
  display: block;
}

/* Style the buttons */
.filter button {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-image: linear-gradient(to right, #b454df , #b454df);
  cursor: pointer;
  color:white;
  border-radius:100px;
}

.filter button:hover {
  background-image: linear-gradient(to right, #b73f9b , #4e32a0);
}

.filter button.active {
  background-image: linear-gradient(to right, #e556c4 , #7754df);
  color: black;
}

.foot {
  display:flex;
  justify-content:center;
  align-items:center;
  height:30px;
  font-family:'IJT';
  font-weight:bolder;
  font-size:20px;
  color:#aa88b8;
  /* background:red; */
}

/* 7754df blue
e556c4 pink
b454df purple */
